body {
    font-family: Arial, sans-serif;
    background-color: #080942;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: blue;
    font-size: 2em;
    font-family: Verdana;
  }
  
  p {
    font-size: 1.2em;
    color: aliceblue;
    font-family: cursive;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }